{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meta4Music</title>
  <link rel='stylesheet' href="{% static 'css/home.css' %}" />
  <link rel='stylesheet' href="{% static 'css/navbar.css' %}" />
  <link rel='stylesheet' href="{% static 'css/reset.css' %}" />
</head>

<body>
  <!-- navbar -->
  <div class="nav">
    <a class="nav-logo">Meta4Music</a>
    <ul class="nav-ul">
      <li class="nav-item"><span class="spread-underline"><a>Home</a></span></li>
      <li class="nav-item"><span class="spread-underline"><a>Services</a></span></li>
      <li class="nav-item"><span class="spread-underline"><a>Technicque</a></span></li>
      <li class="nav-item"><span class="spread-underline"><a>Team</a></span></li>
    </ul>
    <a>
      <div class="button">
        <p class="btnText">Sign In</p>
        <div class="btnTwo">
          <p class="btnText2">Go!</p>
        </div>
      </div>
    </a>
  </div>

  <!-- content -->
  {% block content %}
  {% endblock content %}

  <!-- footer -->
  <div class="footer">
    <div class="foot-head">
      <p>2022 덕성여자대학교 컴퓨터공학과 졸업프로젝트</p>
      <p>Conntact Us</p>
      <p><img src="" /><img src="" /><img src="" /></p>
    </div>

    <p>2022 덕성여자대학교 컴퓨터공학과 졸업프로젝트</p>
    <p>2022 덕성여자대학교 컴퓨터공학과 졸업프로젝트</p>
  </div>
</body>

</html>